.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.product a{
    text-decoration: none;
    color: blue;
}
.main-btn{
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    width: 200px;
    height: 26px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
}